<a href="https://colab.research.google.com/github/kathuman/SimpleStockAnalysisPython/blob/master/01_SimpleFetchStockData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple Download Stock Data Site

There are many sites you can download or fetch stock historical data or fundamental data such as yahoo, google, alpha vantage, quandl and other sites. Some are free and some you have to paid. Some you will need to sign up and some you do not need to sign up.

## 1. fix yahoo is the most common
https://pypi.org/project/fix-yahoo-finance/

In [1]:
# Libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# fix_yahoo_finance is used to fetch data 
import fix_yahoo_finance as yf
yf.pdr_override()

In [3]:
# input
symbol = 'AAPL'
start = '2014-01-01'
end = '2018-01-01'

In [4]:
# Read data 
df = yf.download(symbol,start,end)

# Only keep close columns 
df.head()

[*********************100%***********************]  1 of 1 downloaded

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.624588  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  17.237453  392467600
2014-01-06  19.194643  19.528572  19.057142  19.426071  17.331453  412610800
2014-01-07  19.440001  19.498571  19.211428  19.287144  17.207499  317209200
2014-01-08  19.243214  19.484285  19.238928  19.409286  17.316479  258529600

## 2. pandas_datareader
This library work sometimes. I recommend not to use to this one.

https://pandas-datareader.readthedocs.io/en/latest/

In [5]:
from pandas_datareader import data as pdr

In [6]:
symbol = 'AAPL'
start = '2014-01-01'
end = '2018-01-01'
data = pdr.get_data_yahoo(symbol, start, end)

[*********************100%***********************]  1 of 1 downloaded

In [7]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.624588  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  17.237453  392467600
2014-01-06  19.194643  19.528572  19.057142  19.426071  17.331453  412610800
2014-01-07  19.440001  19.498571  19.211428  19.287144  17.207499  317209200
2014-01-08  19.243214  19.484285  19.238928  19.409286  17.316479  258529600

## 3. alpha_vantage
https://alpha-vantage.readthedocs.io/en/latest/

For this one, you will need to sign up and is free. You will get a free api key.

https://www.alphavantage.co/support/#api-key

In [ ]:
from alpha_vantage.timeseries import TimeSeries

In [ ]:
ts = TimeSeries(key='...') # Input your API KEY in ...
# Get json object with the intraday data and another with  the call's metadata
data, meta_data = ts.get_intraday('AAPL')
data.head()

## 4. iexfinance

In [8]:
from iexfinance import Stock

ModuleNotFoundError: ignored

In [ ]:
tsla = Stock(symbol)
tsla.get_open()
tsla.get_price()

In [ ]:
from datetime import datetime

start = datetime(2014, 1, 1)
end = datetime(2018, 1, 1)

df = get_historical_data("AAPL", start=start, end=end, output_format='pandas')
df.head()

## 5. quandl 

For this one you need to sign up and is very limited.

In [ ]:
# import needed libraries
import quandl

In [ ]:
token = "..." # Input your token ...
data = quandl.get("WIKI/AAPL", start_date="2014-01-01", end_date="2018-01-01", api_key=token)

## 5. Yahoo, Google, or other sites (download csv)
This one has historical data and economic data.

For example: https://finance.yahoo.com/quote/AAPL/history?p=AAPL

You should see: Download Data and click that icon.

In [ ]:
aapl.to_csv('aapl.csv') # Make sure you have the right directory path
df = pd.read_csv('aapl.csv', header=0, index_col='Date', parse_dates=True)

## 6. yahoo-finance

https://github.com/lukaszbanasiak/yahoo-finance

In [ ]:
from yahoo_finance import Share

In [ ]:
data = Share('AAPL')
print(data.get_open())
print(data.get_price())

In [ ]:
# Get Historical Data
# This one does not show nice dataframe
print(data.get_historical('2014-01-01', '2018-01-01'))

## 7. Macrotrends

Scrape Data

https://www.macrotrends.net/

In [ ]:
symbol = 'AAPL'
url = 'https://www.macrotrends.net/assets/php/stock_data_export.php?t=' + symbol
stock_price = pd.read_csv(url, skiprows=10)

In [ ]:
stock_price.head()

         date    open    high     low   close     volume
0  1980-12-12  0.4164  0.4182  0.4164  0.4164  117258400
1  1980-12-15  0.3966  0.3966  0.3947  0.3947   43971200
2  1980-12-16  0.3675  0.3675  0.3657  0.3657   26432000
3  1980-12-17  0.3747  0.3766  0.3747  0.3747   21610400
4  1980-12-18  0.3857  0.3874  0.3857  0.3857   18362400

## 8. eoddata-client

This one is not free. You will need to paid for the service.

https://github.com/apologist/eoddata-client

http://eoddata.com/

In [ ]:
import os

from eoddata_client import EodDataHttpClient

client = EodDataHttpClient(os.environ['EOD_DATA_LOGIN'],
                           os.environ['EOD_DATA_PASSWORD'])

quotes = client.symbol_history('nasdaq', 'aapl', datetime.date(2014, 1, 1))
quotes['Diff'] = quotes['Close'].shift(1) - quotes['Close']
print(quotes.tail())

## 9. yahoo-historical

https://pypi.org/project/yahoo-historical/

In [ ]:
from yahoo_historical import Fetcher
data = Fetcher("AAPL", [2014,1,1], [2018,1,1])
print(data.getHistorical())

## 10. yahoofinancials

This one is to get fundamental data.

https://github.com/JECSand/yahoofinancials

In [ ]:
from yahoofinancials import YahooFinancials

ticker = 'AAPL'
yahoo_financials = YahooFinancials(ticker)

## 11. pandas-finance

https://github.com/davidastephens/pandas-finance

In [ ]:
from pandas_finance import Equity
aapl = Equity('AAPL')
aapl.annual_dividend
aapl.dividend_yield
aapl.price
aapl.options
aapl.hist_vol(30)
aapl.rolling_hist_vol(30)

## 12. FinanceDataReader

https://github.com/FinanceData/FinanceDataReader

In [ ]:
import FinanceDataReader as fdr

# Apple(AAPL), 2017-01-01 ~ Now
df = fdr.DataReader('AAPL', '2017')

# AMAZON(AMZN), 2017
df = fdr.DataReader('AMZN', '2017-01-01', '2017-12-31')

# If there are more places you can download historical data, I will add more. Let me know. Email me please.